.slider {
  display: flex;
  width: 100%;
  height: auto;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  background: #f8f8f8;
  filter: blur(0.5px);
}

.slider-image {
  width: 100%; 
}

