

.NavbarII {
  display: flex;
  align-items: center;
  padding: 0px 5%;
}

.logo-container {
 display:flex;
}

.logo {

  width: 170px;
  height: 190px;
  margin-left:15px;
}

.content-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.first-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;

  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 711;
  line-height: normal;
  white-space: nowrap;
  border:none;
outline:none;
background:none;
}

.second-row {
  display: flex;
  align-items: center;
}

.search-field {
  position: relative;
  margin-left:20px;
  width: 100%;
  padding: 8px;
  height: 48px;
  display: flex;
  align-items: center;
  gap: 32px;
  border-radius: 12px;
  border: 2px solid rgba(49, 101, 174, 0.25);
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.search-button{
  color: #d9904e;
  border: none;
  outline: none;
  background: none;
  border-radius: 0px 2px 12px 0px;
  display: flex;
  height: 48px;
  padding: 13px var(--Spacing---3xl, 32px);
  justify-content: center;
  align-items: center;
  gap: var(--Spacing---lg, 8px);
}

.add-button {
  display: flex;
  min-height: 48px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 7px;
  background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #d9904e;

  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
  border: none;
  outline: none;
  color: var(--02---Dark-Color---White, #fff);
  font-size: 18px;
  font-style: normal;
  font-weight: 711;
  line-height: normal;
  white-space:nowrap;
}



@media only screen and (max-width: 768px) {

  .logo {

    width: 100px;
    height: 100px;
    margin-left:0px;
  }

  .first-row {
  
    font-size: 12px;
    font-weight: 600;
  margin-left:5px;
  }
  
  .second-row {
    display: flex;
    align-items: center;
  }
  .arrow-down{
    visibility:hidden;
  }
.search-button{
  padding: 0px var(--Spacing---3xl, 10px);
  visibility: none;

}


  .add-button {
    display: flex;
    min-height: 40px;
    padding: 8px 6px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 7px;
    background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0.1) 0%,
        rgba(255, 255, 255, 0) 100%
      ),
      #d9904e;
  
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
    border: none;
    outline: none;
    color: var(--02---Dark-Color---White, #fff);
    font-size: 12px;
    font-style: normal;
    font-weight: 711;
    line-height: normal;
    white-space:nowrap;
    margin-left:60px;
}

  

}
